# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# macOS Specific
.DS_Store

# Jetbrains IDE
.idea/

# Visual Studio Code
.vscode/

# Custom runner of app
runner.sh
